<div class="welcome-container">
  <header class="welcome-header">
    <h1>Welcome to myFlix!</h1>
  </header>
  <main class="welcome-content">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Login or register here</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button
          mat-raised-button
          color="accent"
          (click)="openUserLoginDialog()"
          style="margin-right: 10px"
        >
          Login
        </button>
        <button
          mat-raised-button
          (click)="openUserRegistrationDialog()"
          style="margin-right: 10px"
          color="accent"
        >
          Sign Up
        </button>
      </mat-card-actions>
    </mat-card>
  </main>
</div>
