@import "../app.component.scss";

mat-toolbar {
  display: flex;
  justify-content: space-between;
  height: 15vh;
}

.navbar-image {
  height: 10vh;
  width: auto;
  margin: 0 10px;
  display: none;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: bold;
  color: $mfwhite;
}

.navbar {
  background-color: $mfblue;
  border-radius: 5px;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin: 10px;
}

@media screen and (max-width: 500px) {
  mat-toolbar {
    padding: 5px;
  }

  .navbar-image {
    display: flex;
    height: 10vh;
    width: auto;
    margin: 0 5px;
  }

  .navbar-brand {
    font-size: 2rem;
    display: none;
  }

  button {
    margin: 5px;
  }
}
