<mat-toolbar class="navbar">
  <!-- <img class="navbar-image" src="../../assets/logo.png" alt="logo" /> -->
  <img class="navbar-image" src="assets/logo.png" alt="logo" />
  <span class="navbar-brand">myFlix</span>
  <span class="spacer"></span>
  <button id="button-navbar" mat-raised-button [routerLink]="['/movies']">
    <span>Movies</span>
  </button>

  <button id="button-navbar" mat-raised-button [routerLink]="['/profile']">
    Profile
  </button>
  <button id="button-navbar" mat-raised-button (click)="toLogout()">
    Logout
  </button>
</mat-toolbar>
