mat-toolbar {
  display: flex;
  justify-content: space-between;
  height: 15vh;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: bold;
  color: #ffaa09;
}

.navbar {
  background-color: #0f40a9;
}

.spacer {
  flex: 1 1 auto;
}

button {
  margin: 10px;
}
