@import "../app.component.scss";

mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: $mfblue;
  color: $mfwhite;
  border-radius: 5px;
  padding: 2px;
  margin-bottom: 10px;
}

mat-card-title {
  font-size: 4vh;
  padding: 5px;
}

mat-card-actions {
  justify-content: center;
}
